/*------------------------   Laptop Large Size   --------------------------------------------------------------*/

@media only screen and (max-width: 1440px) {

    .box {
        width: 90%;
        height: 91%;
        position: absolute;
        bottom: 193px;
        right: 200px;
    }

}

/*------------------------   Laptop Size   --------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {

}

/*------------------------   Tablet Size   --------------------------------------------------------------*/

@media only screen and (max-width: 768px) {

}

/*------------------------   Mobile Large Size   --------------------------------------------------------------*/


@media only screen and (max-width: 425px) {

}

/*------------------------   Mobile Medium Size   --------------------------------------------------------------*/


@media only screen and (max-width: 375px) {

}

/*------------------------   Mobile Small Size   --------------------------------------------------------------*/


@media only screen and (max-width: 320px) {


}