/*<!-- ----------------------------multible text animation------------------------------------------------------------- -->*/

.container{
    width: 246px;
    overflow: hidden;
}

.container .text{
    position: relative;
    color: orange;
    font-size: 30px;
    font-weight: 600;
}

.container .text.first-text {
    color: white;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010213;
    border-left: 2px solid orange;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%,60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}


/*<!-- ----------------------------First Letter Color------------------------------------------------------------- -->*/



div{
    color: white;
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 20px;
}

div span{
    font-size: 75px;
    color: orange;
    font-weight: bold;
}