
/*-----------------------------------  Nav  Bar  CSS  --------------------------------------------------*/
body{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    height: 60px;
    background-color: transparent;
}

header>nav>ul {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
}
header>nav>ul>li {
    display: inline-block;
    padding: 0 19px 0 10px;
}

header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    transition: all 1s;
    font-size: 25px;
}
header>nav>ul>li>a:hover{
    color: gold;
    transition: all 1s;
    font-size: 30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#menu_mobile{
    display: none;
}

/*-----------------------------------  Background   CSS  --------------------------------------------------*/


@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #010213;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 34%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 11%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 7%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 9s;
}
.background li:nth-child(3) {
    left: 16%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 5s;
}
.background li:nth-child(4) {
    left: 37%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 16s;
}
.background li:nth-child(5) {
    left: 72%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 6s;
}
.background li:nth-child(6) {
    left: 31%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 4s;
}
.background li:nth-child(7) {
    left: 70%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 27s;
}
.background li:nth-child(8) {
    left: 56%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 2s;
}
.background li:nth-child(9) {
    left: 7%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 24s;
}

p{
    background-color: white;
}